.recipe-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

.recipe-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(35, 19, 19);
}


.recipe-form input,
.recipe-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}


.recipe-form textarea {
  height: 100px;
}


.recipe-form input[type="file"] {
  padding: 5px;
  border: none;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  color: #555;
}


.recipe-form button {
  background-color: #34c1c3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.recipe-form button:hover {
  background-color: #2aa6a8;
}


.image-preview {
  margin-bottom: 15px;
  text-align: center;
}


.image-preview img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
